@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat&display=swap');

body {
  font-family: Montserrat;
}
header{
    position: sticky;
    top: 0;
}
/*hide all responsive-only elements*/
.responsive {display: none;}
/*
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
*/
.logo {
  text-align: center;
  display: block;
  margin: 20px;;
  float: left;
}

.diamond-shape {
    background: #000;
    height: 50px;
    text-align: center;
    transform:rotate(45deg);
      width:50px;
  }
  .item-count {
    font-size: 35px;
    font-weight: 700;
    color: turquoise;
    display: table-cell;
    height: 50px;
    transform: rotate(-45deg);
    vertical-align: middle;
    width:50px;
  }

nav {
  float: right;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

nav ul {
  position: sticky;
  top: 0;
  margin: 20px;
  padding: 0;
  list-style: none;
}
nav ul li {
  float: left;
  margin-left: 20px;
}

nav ul li a {
  font-family: Montserrat;
  color: #000;
  display: inline-block;
  padding: 15px 15px;
  text-decoration: none;
}

nav ul li a:hover {background: turquoise;}

@media only screen 
  /*dimesion for demonstrational purpose*/
and (max-width : 720px) {
  
  /*show all responsive-only elements*/
  .responsive {display: block;}
  
  nav {width: 100%}
  a.responsive {
    background: #5cf;
    float: right;
    display: inline-block;
    padding: 15px 20px;
  }
  nav {
    display: none;
    width: 100%;
    background: #9cf;
    top: 52px;
    left: 0px;
  }
  nav ul li {
    margin: 0;
    cursor: pointer;
    float: none;
    border-bottom: 1px solid #fff;
  }
  nav ul li a { 
    display: block; 
    padding-left: 3%; 
  }
}

.left-column{
    margin-left: 6.5%;
    width: 33%;
    position: fixed;
    float: left;
}

img{
    width: 100%;
    margin-top: 62px;
}

.right-column{
    width: 52%;
    float: right;
    margin-right: 3%;
}


.about-h2,
.passion-h2,
.portfolio-h2,
.contact-h2 {
	position: relative;
    margin: 8rem 0 10px 0;
    font-family: serif;
    color: #000;
    font-weight: 100;

}

.about-h2:before,
.passion-h2:before,
.portfolio-h2:before,
.contact-h2:before {
    font-family: serif;
    font-weight: 900;
    font-size: 9.2rem;
	color: turquoise;
	position: absolute;
	top: -115px;
	left: 0px;
	z-index: -1;
	opacity: 0.25;
	content: "";
	position: absolute;
	top: -100px;
	width: 100%;
}

.about-h2:before {
	content: "about";
}

.passion-h2:before {
	content: "passion";
}

.portfolio-h2:before {
	content: "portfolio";
}

.contact-h2:before {
	content: "let's talk";
}


.intro1 {
    font-size: 3.5rem;
    font-family: Fredoka One;
    font-weight: 400;
    margin-top: 26px;
    margin-bottom: 10px;
}

.description{
    line-height: 1.6;
    text-align: justify;
}

/* AREAS OF INTEREST */

.container{
  max-width: 82%;
  height: auto;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
  box-sizing: border-box;
}

.container .box{
  position: relative;
  background: #fff;
  overflow: hidden;
}

.diamond-shape-2 {
  background: rgba(0, 0, 0, 0.788);
  height: 100px;
  width:100px;
  text-align: center;
  transform:rotate(45deg);
  
}
.interest {
  font-size: 14px;
  color: #fff;
  display: table-cell;
  height: 100px;
  transform: rotate(-45deg);
  vertical-align: middle;
  width: 100px;
}
